*{
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Oswald', sans-serif;
}
#header{
    z-index: 999;
    position: relative;
}
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }
#footer{
    z-index: 999;
    position: fixed;
    bottom: 0px;
}
.block{
    position: absolute;
    width: 10px;
    height: 20px;
    background: #e80202;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}